@import '../scss/variables.scss';

.sidebar {
    flex: 0.3;
    box-shadow: 10px 0 5px -2px #888;
    min-width: 250px;
    margin-top: 10px;
    padding-right: 20px;
    select {
        margin-bottom: 20px;
    }
    p {
        text-transform: uppercase;
        font-size: $text-font-size-s;
        margin-left: 3px;
        padding: 5px;
        color: $secondary-alt;
    }
}

.side-section {
    margin-bottom: 30px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    h1, span{
        font-size: 14px;
        font-weight: $small-font-weight;
        margin-left: 2px;
        color: $secondary-color;
        padding: 5px;
    }
}

.sidebar-option:hover {
    background-color: $btn-color;
}

.sidebar-option--active {
    color: $secondary-alt;
}

.logout {
    border-top: 1px solid #eee;
    padding: 15px;
}