$primary-color: #FFFFFF;
$primary-alt: #E5E5E5;
$secondary-color: #213F7D;
$secondary-alt: #545F7D;
$btn-color: #39CDCC;
$error-color: rgb(197, 73, 93);
$logo-linear-gradient: linear-gradient(31.06deg, #213F7D -30.58%, #39CDCC 116.98%);
$box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
$xxlarge-font-weight: 700;
$xlarge-font-weight: 600;
$large-font-weight: 500;
$small-font-weight: 400;
$font-family: 'Avenir Next';